button {
  background: rgb(226, 53, 53);
  height: 30px;
  margin-bottom: 10px;
  padding-left: 5px;
  margin: 10px;
  position: relative;
  left: 478px;
  top: 170px;
}

h1 {
  position: relative;
  top: 150px;
  right: -500px;
}
