body {

}


.ingred {
    float: left;
    background: lightcoral;
    width: 15%;
    padding-left: 20px;
    padding-right: 20px;
}

.recipes {
    float: right;
    background: aquamarine;
    width: 80%;
    padding-top: 10px;
    min-height: 541px;
    height: max-content;

}

.recipesList {
    display: flex;
    flex-wrap: wrap;
}

.recipes {
    padding-left: 20px;
    padding-right: 20px;
}

.ingredHead {
    font-size: 20px;
}

.ingredChild {
    padding-left: 20px;
    cursor: pointer;
}

.search {
    width: 100%;
}


.footer {
    height: 100px;
    background: darkslategray;

}

.recipe1 {
    background: orangered;
    height: 200px;
    width: 600px;
    margin: 10px;
    cursor: pointer;
}
.active{
    color: aqua;
}
.recipeHead {
    font-size: 30px;
    position: relative;
    top: 3px;
    left: 6px;
}
.recipePhoto img{
    width: 100%;
}
.recipePhoto {
    float: right;
    height: 150px;
    width: 150px;
    position: relative;
    top: -40px;
    left: -40px;
}

.recipeDesc {
    font-size: 20px;
    width: 350px;

    position: relative;
    top: -25px;
    left: 15px;
    /*background: green;*/
}