body {
    display: flex;
    justify-content: center;
}

.main {
    height: max-content;
    width: 1000px;
}

img {
    width: 100%;
}

.col {
    padding: 0px;
    float: left;
    width: 30%;
}

.recipePhoto {
    height: max-content;
    width: 100%;
}

.recipeName {
    height: max-content;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
}

.recipeDesc {
    height: max-content;
    width: 69%;
    background: rgba(255, 255, 255, 0.3);
    margin-left: 1%;
    float: right;
}

.main {
    padding: 10px;
    background: rgba(0, 0, 0, 0.22);
}