.myRecipe {
    background: green;
}

.addRecipe {
    background: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeRecipe {
    background: orangered;
}

.rec {
    width: 32.7%;
    height: 500px;
    float: left;
    margin: 5px;
}
.nameDesc {

}

